@use "Stylesheets/Constants.scss";

.app {
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;

	.header {

	}
	section.ilicibis {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;		
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 0 Constants.$offset-7;

		@include Constants.breakpoint-orientation-vertical() {
			padding: 0 Constants.$offset-1;
		}
	}
}