$offset-1: 4px;
$offset-2: 8px;
$offset-3: 16px;
$offset-4: 32px;
$offset-5: 64px;
$offset-6: 90px;
$offset-7: 128px;

$breakpoint-orientation-vertical: "screen and (orientation: portrait)" !default;

@mixin breakpoint-not-phone() {
  @media (min-width: #{$breakpoint-not-small}) {
    @content;
  }
}
@mixin breakpoint-orientation-vertical() {
  @media (orientation: portrait) {
    @content;
  }
}
