@use "Stylesheets/Constants.scss";

.random-video-player {
	width: 100%;
	position: relative;
	
	.video-player {
		width: 100%;

		&.video-player-active {
			display: block;
		}

		&.video-player-inactive {
			display: none;
		}
	}
}


